.header-page {
    background-color: var(--pastel-grayish-yellowish-green);
    padding: 40px 80px;
    border-radius: 35px 35px 20px 20px;
    margin-bottom: 40px;
}

.header-page h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--light-yellowish-green-light);
    font-family: Open Sauce Sans;
    text-align: left;
    width: 200px;
}

.initial-content p {
    font-size: 16px;
    font-weight: 400;
    font-family: Google Sans Code;
    color: var(--faded-brown);
    text-align: justify;
    margin-bottom: 10px;
}