/*
    -----IMPORTANDO AS FONTES-----
*/
b {
  font-weight: 700;
}
/* IMPORTANDO A FONTE "Google Sans Code"*/
/* Para o estilo normal, com todos os pesos de 300 a 800 */
@font-face {
  font-family: 'Google Sans Code';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
}

/* Para o estilo itálico, com todos os pesos de 300 a 800 */
@font-face {
  font-family: 'Google Sans Code';
  font-style: italic;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf') format('truetype');
}

/*IMPORTANDO A FONTE "Open Sauce Sans"*/
/* Regular */
@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 400;
  /* 400 é o peso para 'Regular' */
  font-display: swap;
  /* Ajuste o caminho para o arquivo da sua fonte regular */
  src: url('../fonts/Open_Sauce/OpenSauceSans-Regular.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* Ajuste o caminho para o arquivo da sua fonte regular */
  src: url('../fonts/Open_Sauce/OpenSauceSans-Bold.ttf') format('truetype');
}

/* ----- */

/* Configurações Iniciais */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-gray-light: #FAFAFA;
  --light-yellowish-green-light: #F5F7EC;
  --light-yellowish-green: #ECF1D4;
  --pastel-grayish-yellowish-green: #cdd9a0;
  --faded-yellowish-green: #b4bf8e;
  --faded-olive-green: #727363;
  --faded-brown: #595548;
}

::selection {
  background-color: var(--faded-olive-green);
  color: var(--light-yellowish-green-light);
}
/* ----- */

body {
  background-color: var(--light-yellowish-green-light);
  font-family: Google Sans Code;
}

/*Estilo Header*/
header {
  position: fixed;
  background-color: var(--light-yellowish-green);
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 35px;
  z-index: 1;
}

.header-content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.material-symbols-outlined {
  color: var(--faded-olive-green);
  padding: 10px 10px;
  border-radius: 25px;
  transition: background-color 0.1s ease;
}

.material-symbols-outlined:hover {
  background-color: var(--pastel-grayish-yellowish-green);
}

.decorative-img-header-three-globes {
  height: 60px;
}

.logo-header {
  width: 120px;
}
/* ----- */

/* Estilo Menu Lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: -400px; /* Esconde o menu inicialmente */
  width: 400px;
  height: 100%;
  background-color: var(--light-yellowish-green-light);
  border: 1px solid var(--light-yellowish-green);
  border-radius: 0 35px 35px 0;
  transition: left 0.3s ease; /* Adiciona uma transição suave */
}
.side-menu.open {
  left: 0; /* Mostra o menu quando a classe 'open' está presente */
}

.side-menu-content {
  padding: 35px 25px;
}

.side-menu-content h2 {
  font-family: Open Sauce Sans;
  font-weight: 700;
  font-size: 30px;
  color: var(--faded-yellowish-green);
  margin-bottom: 25px;
}

.session-side-menu {
  margin-bottom: 20px;
  background-color: var(--light-gray-light);
  border-radius: 25px;
  padding: 20px;
  border: 1px solid var(--light-yellowish-green);
}

.session-side-menu p {
  font-size: 16px;
  font-weight: 400;
  color: var(--faded-olive-green);
}

.session-side-menu a {
  display: flex;
  border: 1px solid var(--faded-olive-green);
  padding: 12px;
  border-radius: 15px;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--faded-olive-green);
  margin: 10px 8px;
  transition: color 0.2s ease, background-color 0.3s ease;
}

.session-side-menu a:hover {
  background-color: var(--light-yellowish-green-light);
}

/*Estlo Conteudo Inicial*/
.initial-content {
  padding: 105px 35px 25px 35px;
  text-align: center;
  justify-content: center;
}

.decorative-back-img-forest {
  width: auto;
  height: 180px;
  background-image: url(../images/wallpaper-forest.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px 35px 20px 20px;
}

.initial-content p {
  padding: 15px 0;
  font-size: 50px;
  font-weight: 600;
  font-family: Open Sauce Sans;
  color: var(--faded-olive-green);
  text-align: justify;
}

.decorative-img-globe {
  width: 230px;
  padding: 25px 0;
}
/* ----- */

/* Estilo Apresentação */
.apresentation-content {
  padding: 40px 35px 40px 35px;
  text-align: center;
  justify-content: center;
  background-color: var(--light-yellowish-green);
}

.apresentation-content p {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Google Sans Code;
  color: var(--faded-brown);
  text-align: justify;
}

.apresentation-content video {
  width: 100%;
  height: auto;
  border-radius: 35px;
  margin-top: 25px;
  background-color: var(--pastel-grayish-yellowish-green);
}
/* ----- */

/* Estilo Propósito */
.purpose {
  padding: 40px 35px 40px 35px;
  text-align: center;
}

.purpose h2 {
  font-family: Open Sauce Sans;
  font-weight: 700;
  font-size: 50px;
  color: var(--faded-yellowish-green);
  text-align: left;
  margin-bottom: 25px;
}

.purpose p {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
  font-family: Google Sans Code;
  color: var(--faded-brown);
  text-align: justify;
}

.decorative-img-star-globe {
  background-color: var(--faded-yellowish-green);
  border-radius: 35px;
  margin: 25px 0;
}

.decorative-img-star-globe img {
  width: 165px;
}
/* ----- */

/* Estilo Footer */
footer {
  background-color: var(--faded-brown);
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.footer-content {
  color: var(--light-yellowish-green-light);
}

.footer-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: Google Sans Code;
  text-align: center;
}

.footer-content h3 {
  font-size: 25px;
  font-weight: 700;
  font-family: Open Sauce Sans;
  text-align: center;
  margin-bottom: 30px;
}

.copyright {
  color: var(--light-yellowish-green-light);
  font-size: 14px;
  font-weight: 400;
  font-family: Google Sans Code;
  text-align: center;
  margin-top: 30px;
}