/*
    -----IMPORTANDO AS FONTES-----
*/

/* IMPORTANDO A FONTE "Google Sans Code"*/
/* Para o estilo normal, com todos os pesos de 300 a 800 */
@font-face {
  font-family: 'Google Sans Code';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Google_Sans_Code/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
}

/* Para o estilo itálico, com todos os pesos de 300 a 800 */
@font-face {
  font-family: 'Google Sans Code';
  font-style: italic;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Google_Sans_Code/GoogleSansCode-Italic-VariableFont_wght.ttf') format('truetype');
}

/*IMPORTANDO A FONTE "Open Sauce Sans"*/
/* Regular */
@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 400; /* 400 é o peso para 'Regular' */
  font-display: swap;
  /* Ajuste o caminho para o arquivo da sua fonte regular */
  src: url('../fonts/Open_Sauce/OpenSauceSans-Regular.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Open Sauce Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* Ajuste o caminho para o arquivo da sua fonte regular */
  src: url('../fonts/Open_Sauce/OpenSauceSans-Bold.ttf') format('truetype');
}
/* ----- */

:root {
    --light-yellowish-green: #F5F7EC;
    --faded-olive-green: #727363;
}

body {
    background-color: var(--light-yellowish-green);
}

.header-content {
  text-align: justify;
}

.material-symbols-outlined {
  color: var(--faded-olive-green);
}

.logo-header {
  width: 100px;
}

