:root {
  /* Dark Tones */
  --color-dark-gray: #353535;
  --color-deep-navy: #222E47;
  --color-muted-blue: #394A6F;

  /* Light & Accent Tones */
  --color-soft-blue: #9BC3FF;
  --color-pale-blue: #CEE2FF;

  /* Neutrals / Backgrounds */
  --color-grayish-white: #F3F6F8;
  --color-almost-white: #FAFAFA;
}

/* Importação das Fontes */
@font-face {
  font-family: "Open Sauce Two";
  src: url(../fonts/Open_Sauce/OpenSauceTwo-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Open Sauce Two";
  src: url(../fonts/Open_Sauce/OpenSauceTwo-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Open Sauce Two";
  src: url(../fonts/Open_Sauce/OpenSauceTwo-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sauce Two";
  src: url(../fonts/Open_Sauce/OpenSauceTwo-ExtraBold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Neue Machina";
  src: url(../fonts/Neue_Machina/NeueMachina-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Neue Machina";
  src: url(../fonts/Neue_Machina/NeueMachina-Ultrabold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Google Sans Flex";
  src: url(../fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf);
  font-weight: 100 900;
}

/* Reset básico para o corpo do blog */
body {
  background-color: var(--color-grayish-white);
  color: var(--color-dark-gray);
  font-family: "Open Sauce Two", sans-serif;
  margin: 0;
  padding: 0;
}

b {
  font-weight: 900;
}

::selection {
  background-color: var(--color-pale-blue);
  color: var(--light-yellowish-green-light);
}

/* ----- */

.blog-header {
  background-color: var(--color-pale-blue);
  padding: 20px 20px 40px 20px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--color-almost-white);
  border: 1px solid var(--color-dark-gray);
  border-radius: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-dark-gray);
}

.header-titles {
  margin-top: 60px; /* Espaço para não encavalar com o botão */
}

.header-titles h1 {
  font-family: "Open Sauce Two", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.1;
  color: var(--color-dark-gray);
  margin: 0;
  letter-spacing: -1px;
  text-align: left;
}

.header-titles h2 {
  font-family: "Neue Machina", monospace; /* Ajuste conforme a fonte exata do subtítulo */
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-dark-gray);
  margin-top: 10px;
}